<h1><%=t :edit_heading, :scope => [:politwoops, :parties] %></h1>

<% form_for @party do |f| %>
  <%= f.error_messages %>
  <%= render :partial => "form", :object => f %>
  <%= f.submit t(:update, :scope => [:helpers, :submit], :model => t(:model_name, :scope => [:politwoops, :parties])) %>
<% end %>