<h1><%=t :add_heading, :scope => [:politwoops, :parties] %></h1>

<% form_for @party, :url => parties_path do |f| %>
  <%= f.error_messages %>
  <%= render :partial => "form", :object => f %>
  <%= f.submit t(:create, :scope => [:helpers, :submit], :model => t(:model_name, :scope => [:politwoops, :parties])) %>
<% end %>