config/newrelic.yml
/.bundle
/db/*.sqlite3
/log/*.log
/tmp/**/*
/vendor/gems
/*.csv
*/.DS_Store
/unicorn.rb
/config/admin.yml
/config/config.yml
.*.swp
config/database.yml
.rvmrc
vendor/cache/*
.project
