public/sitemap.xml
public/sitemap.xml.gz
public/images/avatars/*
/.bundle
/db/*.sqlite3
/log/*.log
/tmp/**/*
/vendor/gems
*/.DS_Store
/unicorn.rb
/config/admin.yml
/config/config.yml
/config/database.yml
.*.swp
*.gem
