<script type="text/x-jquery-tmpl" id="bioguide-id-suggestion">
  <li class="suggestion">
    <img class="photo" src="http://theunitedstates.io/images/congress/225x275/${bioguide_id}.jpg">
    <div class="right">
      <span class="name">${first_name} ${last_name}</span>
      <br>
      <a class="identifier" href="#${bioguide_id}">${bioguide_id}</a>
    </div>
  </li>
</script>
<script type="text/x-jquery-tmpl" id="ocd-id-suggestion">
  <li class="suggestion">
    <img class="photo" src="${image}">
    <div class="right">
      <span class="name">${name}</span>
      <br>
      <a class="identifier" href="#${id}">${id}</a>
    </div>
  </li>
</script>

