<% if !@default_group.hide %>
<% end %>

<% @tweets.each do |tweet| %>
	<%= render tweet %>
<% end %>
<div id="pager">
<%= will_paginate @tweets, :next_label => t(:next, :scope => [:politwoops]), :prev_label => t(:previous, :scope => [:politwoops]) %>
</div>

<% if @default_group.sponsor %>
<div id="sponsor">
  <%= @default_group.sponsor.to_s.html_safe %>
</div>
<% end %>