<% if !@default_group.hide %>
<div id="info">
  <h1><%= @default_group.full_name %></h1>
</div>
<% end%>

<% @tweets.each do |tweet| %>
	<%= render tweet %>
<% end %>
<div id="pager">
<%= will_paginate @tweets, :next_label => t(:next, :scope => [:politwoops]), :prev_label => t(:previous, :scope => [:politwoops]) %>
</div>