/** Additional admin styles */

.admin {
	position: relative;
	height: 60px;
	margin-top: -20px;
}

.admin ul.nav {
	margin-bottom: 30px;
	position: absolute; left: 0;
}

.admin ul.nav li {
  display: inline-block; 
  margin-right: 20px;
  font-size: 125%;
}
.admin ul.nav li a {text-decoration: underline;}

.admin div.details {
	margin-bottom: 10px;
	position: absolute; right: 0;
	font-size: 90%;
}

div.admin.review {
  margin: 10px 0 10px 0;
}

div.admin.review input {
  padding: 5px 10px;
  margin-right: 10px;
  font-size: 110%;
}