@font-face {font-family: "GESS Medium";font-style: normal;font-weight: normal; src: url('../fonts/GE_SS_Two_Medium.otf');}


/*  HTML5 ✰ Boilerplate  */
html{ direction:rtl;}
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,  footer, header, hgroup, 
menu, nav, section, summary, time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}                  
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
ul { list-style: none; }
blockquote, q { 
	background:url('../images/quotes.png') 12px top no-repeat ;
	quotes: '»' '«' ;
	margin-right:30px;
    padding-right:35px;
    border-right: 1px solid #E5E4DB;
	color: #726B68; 
	margin-bottom: 1em;
	}
	
.pull_right, .pull_left { 
	background:url('../images/quotes_lg.png') 12px 12px no-repeat ;
	margin: 25px 65px 25px 30px;
	padding: 15px 0 15px 35px;
	color: #494442;
	font-family: Georgia, "Times New Roman", Times, serif; 
	font-style: oblique; 
	font-size: 220%; 
	display: block;
	line-height: 38px;
	text-align: center;
	border-top: 1px solid #E5E4DB;
	border-bottom: 1px solid #E5E4DB;
	}
	
blockquote:before, blockquote:after,
q:before, q:after { content:''; content:none; }

a { margin:0; padding:0; font-size:100%; vertical-align:baseline; background:transparent; }
ins { background-color:#ff9; color:#000; text-decoration:none; }
mark { background-color:#ff9; color:#000; font-style:italic; font-weight:bold; }
del { text-decoration: line-through; }
abbr[title], dfn[title] { border-bottom:1px dotted; cursor:help; }
table { border-collapse:collapse; border-spacing:0; }
hr { display:block; height:1px; border:0; border-top:1px solid #ccc; margin:1em 0; padding:0; }
input, select { vertical-align:middle; }

body { color: #333; font-family: Tahoma, "Helvetica Neue", Helvetica, Arial, sans-serif; line-height:1.7em; font-size: 13px;} 
select, input, textarea, button { font: 99% sans-serif; }
button.disabled { opacity: 0.3; filter: alpha(opacity=30); -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=30)"; }
pre, code, kbd, samp { font-family: monospace, sans-serif; }
p { margin-bottom: 1.3em;}

html { overflow-y: scroll; }

iframe { display: block; margin: 10px 0; }

a:hover, a:active { outline: none; }
a, a:active, a:visited { color:#4083A9; text-decoration: none;}
a:hover { color: #063e5c; text-decoration: underline;}

nav ul, nav li { margin: 0; } 
small { font-size: 85%; }
strong, th, b { font-weight: bold; }
td, td img { vertical-align: top; } 
sub { vertical-align: sub; font-size: smaller; line-height:1px;}
sup { vertical-align: super; font-size: smaller; }
pre {  padding: 15px;  white-space: pre;  white-space: pre-wrap;  white-space: pre-line;  word-wrap: break-word; }
textarea { overflow: auto; } 
.ie6 legend, .ie7 legend { margin-right: -7px; } 
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; }
.ie7 input[type="checkbox"] { vertical-align: baseline; }
.ie6 input { vertical-align: text-bottom; }
label, input[type=button], input[type=submit] { cursor: pointer; }
button, input, select, textarea { margin: 0; }
input:invalid, textarea:invalid { border-radius: 1px;  -moz-box-shadow: 0px 0px 5px red; -webkit-box-shadow: 0px 0px 5px red;  box-shadow: 0px 0px 5px red; }
.no-boxshadow input:invalid, 
.no-boxshadow textarea:invalid { background-color: #f0dddd; }

.normalForm label { width: 120px; display: block; float: right; text-transform: uppercase; font-weight: bold;}
.normalForm input, .normalForm textarea { width: 300px;}
.normalForm { margin-top: 30px;}

::-moz-selection{ background: #CA5703; color:#fff; text-shadow: none; }
::selection { background:#CA5703; color:#fff; text-shadow: none; } 
a:link { -webkit-tap-highlight-color: #CA5703; } 

button, .buttonLink { width: auto; text-indent: -9999em; display: block; border: none; cursor: pointer; }
.ie7 img { -ms-interpolation-mode: bicubic; }

.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: right; direction: ltr; }
.hidden { display: none; visibility: hidden; } 
.visuallyhidden { position: absolute !important; clip: rect(1px 1px 1px 1px);  clip: rect(1px, 1px, 1px, 1px); }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after {  content: "\0020"; display: block; height: 0; visibility: hidden; } 
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }
.clear { clear: both;}






/* generic styles */
html{ 
	/*background:url(/images/noise-f1.gif);*/
}
body {
	margin: 0 auto;
	/**background: url(/images/header-bg.png) center top repeat-x;**/
	color: #333;
}
.sf-header {
	background: url(/images/sfapp_bg_header.jpg) center bottom repeat-x;
	height: 51px;
}
.sf-header a.sf-logo {
	background: url(/images/sfapp_logo.png) top left no-repeat;
	display: block;
	float: left;
	height: 40px;
	text-indent: -9999px;
	width: 128px;
	margin-top: 6px;
}

.container {
	margin-left: auto;
	margin-right: auto;
	width: 940px;
}
#container{ padding:30px;	background:#fff; border-radius: 4px; box-shadow: 0 0 5px #ddd;min-height: 400px;}

.textReplace { 
	text-indent: -9999em; 
	display: inline-block;
}

#ltColumn { 
	color: #9a948d; 
	width: 216px; 
	float: right; 
	/*padding-left: 26px; */
	/*background: url(/images/bg_sidebar.png) top left repeat-y; */
	padding-bottom: 80px;
	position: relative;
}
#rtColumn { 
	width: 670px; 
	float: right;
  padding:20px;
	background:#fff;
	box-shadow: 0 0 5px #ddd;
	border-radius:4px;
	min-height:400px;
}

.module { 
	margin-bottom: 50px; margin-top:10px;
}

.module li{ margin-bottom:1px;}
.module li a{ display:block;  background:#e5e5e5; text-decoration:none;padding:5px 10px;}
.module li a:hover{ background:#ddd; }

#admin-list li{ padding:5px 10px; }
#admin-list li:nth-child(2n+1){ background:#f7f7f7; margin:5px 0; }

/* forms */

.form-inline {
	display: inline-block;
	float: right;
	margin-left: 10px;
}

.form-inline li {
	display: inline-block;
	float: right;
	margin-left: 8px;
}

form#filter{
	margin-bottom: 26px;
}
.title{
	/*background: url(/images/bg_filter.png) center bottom repeat-x;*/
	padding-bottom: 1px;
	margin-bottom: 23px;
	border-bottom: 1px solid #ddd;
}
label{
	display: block;
    width: 100%;
    margin-bottom: 4px;
}
.styled-select select {
   background: #fff;
   width: 170px;
   padding: 3px 5px;
   font-size: 16px;
   border: 1px solid #ccc;
   height: 25px;
   	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	border-radius:4px;
	box-shadow: 0 3px 3px #eee inset;
}


button{
	background: #4e91b7;
	-webkit-box-shadow:  1px 1px 1px 0 rgba(2, 34, 38, .3);
    box-shadow:  1px 1px 1px 0 rgba(2, 34, 38, .3);
    text-indent: 0;
    color: #fff;
    padding: 7px 13px;
    text-align: center;
    -moz-border-radius: 4px; 
	-webkit-border-radius: 4px; 
	border-radius: 4px; 
	font-size:15px;
}
button:hover{
	background: #3e81a7;

}

#filter button{
	display: inline;
	clear: both;
	/*margin-top: 4px;*/
}




/* header */
header { 
	/*background: url(/images/bg_header.png) 30px bottom no-repeat;*/
	height: 80px;
	margin-bottom: 54px;
	position: relative;
}

h1 { 
	height: 78px; 
	width: 370px; 
	float: right;
	margin-top: 10px;
}
h1 a { background: url(/images/logo.png) top right no-repeat; height: 90px; width: 600px; }
nav {
	position: relative;
}
nav ul{
	/*position: absolute;
	top: 0;
	left: 135px;
	margin-top: 14px;*/
	text-align: center;
}	
nav ul li{
	display: inline;
	padding-left: 20px;
	margin-left: 20px;
	border-left: 1px solid #999;
	font-weight: bold;
}
nav ul li:last-child{
	border-left: 0;
	padding-left: 0;
	margin-left: 0;
}
#socialMedia { 
	position: absolute;
	width: 115px;
	top: 65px;
	left: 180px; direction:ltr;
	
}
.gig-bar-container{

}
#search { 
	float: left;
	/*background: url(/images/bg_search.png) right top no-repeat;*/
	padding-top: 5px;
	padding-right: px;
	margin-top: 10px;
	height: 42px;
}
#search input[type=search] { 
	-webkit-appearance: textfield;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	-moz-border-radius: 4px; 
	-webkit-border-radius: 4px; 
	border-radius: 4px;
	border: 1px solid #ddd;
	padding: 10px 7px 7px 7px; 
	margin-top: 0px;
	float: right;
	display: block;
	width: 238px;
	background: #fff; 
  box-shadow: 0 3px 3px #eee inset;
}

#searchBtn{
	background: url(/images/search.png) top center no-repeat;
	width: 32px;
	height: 32px;
	float: right;
	display: block;
	margin-right: 10px;
	-webkit-box-shadow:  none;
    box-shadow:  none;
}
#searchBtn:hover{
	background: url(/images/search.png) center bottom no-repeat;

}




#intro { 
	font-size: 128%; 
	line-height: 1.6em;
	font-family: "museo-slab", georgia, serif; 
	font-weight: 300;
	background: url(/images/border_sidebar_x.png) bottom right no-repeat;
	padding-bottom: 32px;
	margin-bottom: 32px;
	color: #403d39;
} 
#intro strong{
	color: #063e5c;
	font-weight: 500;
}
#intro .strikethrough{
	text-decoration: line-through;
	color: #7e7a75;
}
div.caveat p, #terms{
	font-size:11px;
	color: #8a8079;
	line-height: 1.6em;
}
div.caveat p {margin-bottom: 2em; }
h2 {
	font-family: "GESS Medium", georgia, serif; 
	font-size: 24px; 
	margin-bottom: 23px;
	font-weight: 700;
	color: #000;
	text-shadow: 1px 1px 2px rgba(6,62,92,.3);
    filter: dropshadow(color=#063e5c, offx=1, offy=1);
}
h3 {

}
h4, #filter label {
	font-size: 100%; 
	font-weight: 700;
	color: #444;
	display:inline-block;
	width:auto;
	margin-left:10px;
}
.twoopsters{
	margin-top: -103px;
	margin-right: -30px;
	margin-bottom: 12px;
}
#otherOrg { font-size: 140%; color: #504C49;}


/* tweets */

.tweet { border-bottom: 1px dashed #ddd; margin-bottom: 10px;padding-bottom: 10px;}
/* padding-bottom: 23px; margin-bottom: 23px;*/

.tweetTitle { font-weight: bold; font-size: 128%; margin-bottom: 5px;}
h4.tweetTitle{
	display:block; font-size:16px;
}
.tweetTitle a:link, .tweetTitle a:active, .tweetTitle a:visited { text-decoration: none; color: #4083A9; font-size:13px;}
.tweetTitle a:hover { color: #063E5C; text-decoration: underline;}
.tweetTitle span{
	font-size: 72%;
	font-color: #8D8883;
}
.tweet img {height: 73px; margin: 0 0 0 20px; width: 73px; border: 1px solid #ddd; padding: 4px; border-radius:4px; 	box-shadow: 0 0 2px #ddd;}
.contentLeft{
	float: right;
}
.policount{
	width: 83px;
	font-size: 71.4%;
	color: #8a8079;
	line-height: 1.3em;
	text-align: center;
}
.policount em{
	font-weight: bold;
	font-style: normal;
}
.policount .number{
	font-size: 210%;
	color: #e7d26e;
	line-height: 1.2em;
	font-weight: 500;
}

.tweetTitle a.linkUnderline:link, .tweetTitle a.linkUnderline:visited, a.linkUnderline:link, a.linkUnderline:visited  { 
	border-bottom: 1px dotted #5ca8b1;
	font-weight: normal;
	color: #8D8883;
}
.tweetTitle a.linkUnderline:active, a.linkUnderline:active, .tweetTitle a.linkUnderline:hover, a.linkUnderline:hover{
	text-decoration: none;
	color: #063E5C;
}



/** For Ali: CSS I added to deal with screenshots of links */
.tweet .images h3 {margin-top: 30px; font-size: 120%;}
.tweet .images img.screenshot {
  float: right; max-width: 160px; max-height: 120px; width: auto; height: auto;
  margin: 20px 0; margin-left: 20px; border: 1px solid #336699; padding: 3px;

}






/** End of section */

.tweet .content { float: right; width: 620px; }
.tweet-content { margin-bottom: 8px; font-size:18px;}
.tweet .inactiveMess{
	margin-bottom: 8px;
	color: #8D8883;
	font-size: 90%;
	font-style: italic;
	margin-top: -3px;
	background: #FDFCEE;
	border-top: 1px dotted #E7D26E;
	border-bottom: 1px dotted #E7D26E;
	padding: 0 4px;
}


.tweet .byline, .tweet .byline { color: #8d8883;}
.tweet .byline {font-size: 90%;}

.tweet .byline a.twitter {
	display: block;
	float: right;
	width: 16px;
  height: 16px;
  margin: 4px  0 0 8px;
  text-indent: -999999em;
  background: url(/images/bird_16_gray.png);
}

.tweet .actions { float: left; margin-top:35px; }
.reply, .retweet { height: 48px; width: 48px;}
.reply { background: url(/images/reply.png) center top no-repeat ;}
.reply:hover { background: url(/images/reply.png) center bottom no-repeat ; }
.retweet { background: url(/images/retweet.png) center top no-repeat;}
.retweet:hover { background: url(/images/retweet.png) center bottom no-repeat; }

.titleParty { text-transform: uppercase;}






/* pager */

#pager {
  font-size: 95%;
  margin: 20px 0 0;
  text-align: center;
}

#pager a { margin-right: 5px;}
.previous_page { margin-left: 10px;}
.per_page_selected { }



.tweet .actions .button {
  text-indent: 0;
  height: 48px;
  width: 104px;
  background: #0097EB;
  color: white;
  text-decoration: none;
  line-height: 48px;
  text-align: center;
  border-radius: 5px;
  -moz-border-radius: 5px;
}

.tweet .actions .button-small {
  text-indent: 0;
  height: 48px;
  width: 48px;
  margin: 0 0 0 4px;
  background: #0097EB;
  color: white;
  text-decoration: none;
  line-height: 48px;
  text-align: center;
  border-radius: 5px;
  -moz-border-radius: 5px;
}

.numResults {
	margin-top: 20px;
}

.numResults li{
	display: inline;
}




/* flash messages */

#notice {
  color: #666666;
  clear:both;
  margin:20px 0 20px 0;
  padding:10px;
  background:none repeat scroll 0 0 #EBFFEE;
  border:1px solid #BBE6B0;    
}

#alert, #error_explanation, #errorExplanation {
  color: #666666;
  clear:both;
  margin:20px 0 20px 0;
  padding:10px;
  background: none repeat scroll 0 0 #ffdada;
  border: 1px solid #eb0000;  
}

.flash {
  color: #666666;
  clear:both;
  margin:20px 0 20px 0;
  padding:10px;
}

.info {
  background:none repeat scroll 0 0 #EBFFEE;
  border:1px solid #BBE6B0;  
}

.error {
  background: none repeat scroll 0 0 #ffdada;
  border: 1px solid #eb0000; 
}

/* form stuff */

form .explanation {
	color: #D4D4D4;
	margin: 0px 0px 8px 0px;
	width: 300px;
}

table.listing {
  color: #666666;
}





/** Social Media */
iframe {margin: 0 0;}
iframe.twitter-share-button {display: inline; vertical-align: text-bottom;}

/* footer */

#footer {
  margin: 16px 0 0 0;
}

#footer-menu {
	clear: both;
	font-size: small;
	text-align: center;
	width: 100%;
}

#hdo {
  float: left;
}

#hdo a {
  background: url(/images/hackdeoverheid.png);
  display: block;
  height: 35px;
  text-indent: -999999em;
  width: 329px;  
}

#netdem {
  float: right;  
}

#netdem a {
  background: url(/images/netdem.gif);
  display: block;
  height: 108px;
  text-indent: -999999em;
  width: 199px;
}


.accountList {
	display: block;
}
.accountList li{
	display: block;
	float: right;
	width: auto;
}
.accountList .accountHandle{
	padding: 4px 15px 3px 15px;
	height: 36px;
	display: table-cell;
	vertical-align: middle;

}
.accountList .active .accountHandle {
	background: #f7f7f7;
	border-top: 2px solid #ddd;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	display: table-cell;
	padding: 3px 3px 0 3px;
	height: 35px;
	border-radius: 2px;
	-moz-border-radius: 2px;
	font-size: 100%; 
	font-weight: 700;
	color: #333;

}
.accountList .active .accountHandle span{
	border-top: 1px dotted #ccc;
	border-left: 1px dotted #ccc;
	border-right: 1px dotted #ccc;
	line-height: 1.5em;
	padding-right: 10px;
	padding-left: 10px;
	display: table-cell;
	vertical-align: middle;
	height: 32px;
}

.aboutAccount{
	background: #f7f7f7;
	border-bottom: 1px solid #ddd;
	border-top: 2px solid #ddd;
	padding: 3px;
	z-index: -1;
	width: 100%;
	margin-top: 56px;
	margin-bottom: 23px;
}
.aboutAccount p{
	margin: 0;
	padding: 15px;
	border-top: 1px dotted #ccc;
	border-bottom: 1px dotted #ccc;
	color: #8a8079;
}







/*  footer  */

footer{
	/*background-color: #FAFAF7;
	border-top: 1px solid #ECE9E9;*/
	margin-top: 20px;
	padding-top: 20px;
	/*min-height: 220px;*/
	color: #9F9A97;
	font-size: 13px;
}
.signup {
	border-left: 1px dashed #E8E6DE;
	margin-left: -1px;
	width: 460px;
	float: right;
}
footer h4 {
	color: #9F9A97;
	margin-bottom: 0.5em;
	font-size: 170%;
	line-height: 27px;
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-weight: normal;
	max-width: 580px;
}
.terms{
	margin-top: 30px;
	width: 460px;
	float: right;
	margin-right: 20px;
}

.terms p {
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-size: 95%;
	font-style: oblique;
	line-height: 18px;
	margin: 0 0 9px;
}
footer a:hover, footer a:active { outline: none; }
footer a, footer a:active, footer a:visited { color: #666; }
footer a:hover { color: #827b78; }
footer .tip {
	color: #9F9A97;
	margin-bottom: 20px;
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-style: oblique;
	color: #97928F;
	display: block;
	line-height: 21px;
	max-width: 680px;
}
#sfapp-subscribe-form label { font-family: Georgia, "Times New Roman", Times, serif; font-size: 110%; }
#sfapp-subscribe-form li { float: right; margin-left: 10px; }
#sfapp-subscribe-form input[name=email] { width: 140px; }
#sfapp-subscribe-form input[name=zipcode] { width: 95px; }
#sfapp-subscribe-form input, #sfapp-subscribe-form textarea {
	font-family: Georgia, "Times New Roman", Times, serif; font-size: 110%;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-webkit-transition: border linear .2s,box-shadow linear .2s;
	-moz-transition: border linear .2s,box-shadow linear .2s;
	-ms-transition: border linear .2s,box-shadow linear .2s;
	-o-transition: border linear .2s,box-shadow linear .2s;
	transition: border linear .2s,box-shadow linear .2s;
}
#sfapp-subscribe-form input, #sfapp-subscribe-form textarea, #sfapp-subscribe-form select, #sfapp-subscribe-form .uneditable-input {
	display: inline-block;
	width: 210px;
	height: 18px;
	padding: 4px;
	margin-bottom: 9px;
	font-size: 13px;
	line-height: 18px;
	color: #555;
	background-color: white;
	border: 2px solid #E7E4DC;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.btn-sunlight {
	border: 3px solid #E9E8E3;
	font-family: "Georgia", "Times New Roman", "Times", serif;
	font-style: normal;
	font-weight: normal;
	padding: 4px 15px 4px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	-ms-border-radius: 6px;
	-o-border-radius: 6px;
	border-radius: 6px;
	border: 3px solid rgba(0, 0, 0, 0.0976563);
	border-bottom: 3px solid rgba(0, 0, 0, 0.246094);
	text-indent: 0;
	display: inline-block;
	padding: 4px 15px 4px;
	margin-bottom: 0;
	font-size: 13px;
	line-height: 18px;
	color: #FDFCFB;
	text-align: center;
	text-shadow: 0 1px 1px rgba(186, 83, 0, 0.75);
	vertical-align: middle;
	cursor: pointer;
	background-color: #CE6100;
	background-image: -moz-linear-gradient(top, #CE6100, #BA5300);
	background-image: -ms-linear-gradient(top, #CE6100, #BA5300);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#CE6100), to(#BA5300));
	background-image: -webkit-linear-gradient(top, #CE6100, #BA5300);
	background-image: -o-linear-gradient(top, #CE6100, #BA5300);
	background-image: linear-gradient(top, #CE6100, #BA5300);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ce6100', endColorstr='#ba5300', GradientType=0);
	filter: progid:dximagetransform.microsoft.gradient(enabled=false);
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2),0 1px 2px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2),0 1px 2px rgba(0, 0, 0, 0.05);
	margin-top: -8px;
}

.btn-sunlight:hover {
	color: #333;
	text-decoration: none;
	background-color: #E6E6E6;
	background-position: 0 -15px;
	-webkit-transition: background-position .1s linear;
	-moz-transition: background-position .1s linear;
	-ms-transition: background-position .1s linear;
	-o-transition: background-position .1s linear;
	transition: background-position .1s linear;
}
.btn-sunlight:hover, .btn-sunlight:active, .btn-sunlight.active, .btn-sunlight.disabled, .btn-sunlight[disabled] {
	color: #FDFCFB;
	background-color: #BA5300;
}
.btn-sunlight:active, .btn-sunlight.active {
	background-color: #BA5300;
	background-color: #BA5300 9;
}


/*-- Politician Table --*/



table.politicians td, table.politicians td img{
	vertical-align: middle;
}
table.politicians{
}
table.politicians img{
	width: 73px;
	height: 73px;
	border: 1px solid #ddd; 
	padding: 4px;
	border-radius: 4px;
	box-shadow: 0 0 2px #ddd;
}
table.politicians td.name span{
	width: 185px;
}
table.politicians td.state span{
	width: 116px;
}
table.politicians td.office span{
	width: 138px;
}
table.politicians td.party span{
	line-height: 1.1em;
}
table.politicians td.party em{
	font-size: 85%;
	display: block;
	font-family: Georgia, serif;
	color: #8A8079;
	font-style: italic;
}
table.politicians .img{
	width: 73px;
	padding-left: 0;
	padding-right: 12px;
}
table.politicians tr.even{
	background: #f8fcfa;
}
table.politicians tr{
	border-bottom: 1px solid #d7e4dc;
}
table.politicians td{
	padding: 12px 0;
	text-align: right;
}
table.politicians td span {
	border-left: 1px solid #d7e4dd;
	height: 73px;
	display: table-cell;
	vertical-align: middle;
	padding: 0 12px;
}
table.politicians td:last-child span, table.politicians .img{
	border: 0;
}
table.politicians a{
	font-weight: bold;
}





/*-- Screenshot overlay --*/

.black_overlay{
	display: none;
	position: absolute;
	top: 0%;
	right: 0%;
	bottom: 0;
	width: 100%;
	height: 100%;
	background-color: #5b6162;
	z-index:1001;
	-moz-opacity: 0.1;
	opacity:.10;
	filter: alpha(opacity=10);
}
.white_content {
	display: none;
	position: absolute;
	top: 25%;
	right: 0;
	width: 100%;
	padding: 16px 0 16px 0;
	background-color: none;
	z-index:1002;
	overflow: auto;
	font-size: 14px;
	text-align: center;
}
.white_content .close{
    background: url('/images/close.png') left top no-repeat;
    text-indent: -9999em;
    width: 22px;
    height: 22px;
    position: absolute;
    top: 15px;
    left: 15px;
}
.white_content .close:hover{
    background: url('/images/close.png') left bottom no-repeat;
}
.white_content img{
	width: auto;
	height: auto;
	border: 3px solid #F4FAF5;
	padding: 2px;
	margin-left: 0;
	vertical-align: top;
}
.white_content span{
	position: relative;

}

#cboxOverlay{
	background-color: #5b6162;
}

#worker-list li{
  padding: 0.3em 0 0 0;
}
#worker-list button{
  width: 85px;
}

#footerWrapper {
	/*background: url('http://assets-sfcom.s3.amazonaws.com/img/bg_footerWrap.jpg') top center repeat-x;*/
}


#rtColumn .tweet .content{ width:560px;}


.select2-results {
	margin: 4px 4px 4px 4px;
}
.select2-container .select2-choice div {
	right: auto;
    left:-1px;
}