body {
  background: white;
  font-family: "Lucida Sans", "MS Trebuchet", sans-serif;
  color: black;
}

#wrapper {
	width: 960px;
	margin: 0px auto;
}

a {
  color: #0097EB;
  text-decoration: none;
}

a:hover, a:active {
  text-decoration: underline;
}

a img {
  border: 0px none;
}

.clear {
  clear: both;
}

.tweet {
  border-bottom: 1px solid #d4d4d4;
  clear: both;
  color: #787878;
  font-weight: bold;
  line-height: 24px;
  padding: 16px 0 16px 0;
}

.tweet img {
  float: left;
  margin: 0 8px 0 0;
}

.tweet .content {
  float: left;
  width: 720px;
}

.tweet .content .tweet-content {
  min-height: 48px;
}

.tweet .byline {
  color: #D4D4D4;  
}

.tweet .byline a {
  color: #D4D4D4;  
}

.tweet .actions {
  float: right;
  margin: 12px 0 0 0;
}

.tweet .actions img {
  margin: 0 0 0 8px;
}

#pager {
  margin: 12px 0 12px 0;
  font-size: 16px;
  text-align: center;
}

#footer {
  margin: 16px 0 0 0;
}

#footer-menu {
	clear: both;
	font-size: small;
	width: 100%;
	text-align: center;
}

#hdo {
  float: right;
}

#notice {
  color: #666666;
  clear:both;
  margin:20px 0 20px 0;
  padding:10px;
  background:none repeat scroll 0 0 #EBFFEE;
  border:1px solid #BBE6B0;    
}

#alert, #error_explanation {
  color: #666666;
  clear:both;
  margin:20px 0 20px 0;
  padding:10px;
  background: none repeat scroll 0 0 #ffdada;
  border: 1px solid #eb0000;  
}

.flash {
  color: #666666;
  clear:both;
  margin:20px 0 20px 0;
  padding:10px;
}

.info {
  background:none repeat scroll 0 0 #EBFFEE;
  border:1px solid #BBE6B0;  
}

.error {
  background: none repeat scroll 0 0 #ffdada;
  border: 1px solid #eb0000; 
}

form .explanation {
	color: #D4D4D4;
	margin: 0px 0px 8px 0px;
	width: 300px;
}

table.listing {
  color: #666666;
}

form ol {
  list-style-type: none;
}

form ol li {
  margin: 0 0 8px 0;
}

form label {
  display: block;
  float: left;
  width: 150px;
}

form input[type=text], form input[type=password] {
  width: 300px;
}