<h1>Admin</h1>
<h2>Groups</h2>
<ul>
  <li><a href="/groups/add">Add</a></li>
  <li><a href="/groups/">List</a></li>
</ul>

<h2>Parties</h2>
<ul>
  <li><a href="/parties/add">Add</a></li>
  <li><a href="/parties/">List</a></li>
</ul>

<h2>Politicians</h2>
<ul>
  <li><a href="/politicians/add">Add</a></li>
  <li><a href="/politicians/">List</a></li>
</ul>

<h2>Users</h2>
<ul>
  <li><a href="/account/edit">Edit account</a></li>
  <li><a href="/users/add">Add</a></li>
  <li><a href="/users/">List</a></li>
</ul>