<h1><%=t :add_heading, :scope => [:politwoops, :users] %></h1>

<% form_for @user, :url => account_path do |f| %>
  <%= f.error_messages %>
  <%= render :partial => "form", :object => f %>
  <%= f.submit t(:add_heading, :scope => [:politwoops, :users]) %>
<% end %>