  <div id="light" style="display: none; ">
    <div class="white_content">
      <span>
        <img class="screenshot full" />
      </span>
      <a class="close" href="#">Close</a>
    </div>
  </div>
  <div id="fade" class="black_overlay" style="display: none; ">
  </div>
  <div class="clear">
  </div>

