development:
  adapter: mysql2
  database: rails_dev
  username: dev
  password: devpwd

test:
  adapter: mysql2
  database: rails_test
  username: test
  password: testpwd

production:
  adapter: mysql2
  database: rails_prod
  username: prod
  password: prodpwd
