<h3><%= t :office_add_new, :scope => [:politwoops,:admin] %></h3>

<form id="admin-politician" action="/admin/offices/save" method="POST">
<ul>
<li>
     <%= t :office_title, :scope => [:politwoops,:admin] %>: <input type="text" name="title" />
</li>
<li>
    <%= t :office_abbreviation, :scope => [:politwoops,:admin] %>: <input type="text" name="abbreviation" />
</li>
<li><button type="submit" value="Save"> <%= t :save, :scope => [:politwoops,:form] %></button></li>
</ul>

</form>
