<h3>Add an Office Type</h3>

<form id="admin-politician" action="/admin/offices/save" method="POST">
<ul>
<li>
    Office Title: <input type="text" name="title" />
</li>
<li>
    Abbreviation: <input type="text" name="abbreviation" />
</li>
<li><button type="submit" value="Save">Save</button></li>
</ul>

</form>
