<h3>Edit Office</h3>

<form id="admin-politician" action="/admin/offices/save" method="POST">
<input type="hidden" name="obj_id" value="<%= @office.id %>"
<ul>
<li>
    Office Title: <input type="text" name="title" value="<%= @office.title %>" />
</li>
<li>
    Abbreviation: <input type="text" name="abbreviation" value="<%= @office.abbreviation %>" />
</li>
<li><button type="submit" value="Save">Save</button></li>
</ul>

</form>
