<style type="text/css">
h1 { display: none;}

.clear { clear: both;}
.daisies {
    background: url(/images/twoopsiedaisies.png) 20px top no-repeat;
    padding-left: 155px;
    margin-top: 60px;
}
.daisies h3{
	width: 100%;
	border-bottom: 1px dotted #d6dcdc;
	line-height: 2.5em;
}
.daisies h2{
	width: 100%;
	border-top: 1px dotted #ffffff;
	line-height: 2.5em;
	margin-bottom: 0;
}
.daisies p{
	font-size: 128%;
	line-height: 1.6em;
	font-family: "museo-slab", georgia, serif;
	font-weight: 300;
	color: #403D39;
	margin-top: -15px;
}

#rtColumn{
	position: relative;
}
.crackBox{
	position: absolute;
	left: -33px;
	top: -309px;
}
.crackBox a.cowButton{
    display: block;
    float: right;
    height: 54px;
    position: relative;
    right: 144px;
    top: 165px;
    width: 332px;
}



@-moz-keyframes bubble {
        0% { background-position: 0px 0px; }
        100% {background-position: -9960px 0px;}
}

@-ms-keyframes bubble {
        0% { background-position: 0px 0px; }
        100% {background-position: -9960px 0px;}
}

@-webkit-keyframes bubble {
        0% { background-position: 0px 0px; }
        100% {background-position: -9960px 0px;}
}


a.cowButton #bubble {
    background-image: url(/images/404_logo.png);
    display: block;
    margin-left: -65px;
    margin-top: -48px;
    height: 100px;
    width: 332px;
    background-attachment: scroll;
    background-clip: border-box;
    background-color: transparent;
    background-origin: padding-box;
    background-position: -9960px 0px;
    background-repeat: no-repeat;
    background-size: auto auto;

   
    -webkit-animation-fill-mode: forwards;
       -moz-animation-fill-mode: forwards;
        -ms-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    -webkit-animation: bubble 1s steps(30, end) 1;
       -moz-animation: bubble 1s steps(30, end) 1;
        -ms-animation: bubble 1s steps(30, end) 1;

/*
    animation-name: bubble;
        animation-duration: .4s;
        animation-timing-function: steps(18, end), ease;
        animation-delay: 3s;
        animation-iteration-count: 1, 1;
        animation-direction: normal, normal;
        animation-fill-mode: forwards;
        -moz-animation-name: bubble;
        -moz-animation-duration: .4s;
        -moz-animation-timing-function: steps(18, end), ease;
        -moz-animation-delay: 3s;
        -moz-animation-iteration-count: 1, 1;
        -moz-animation-direction: normal, normal;
        -moz-animation-fill-mode: forwards;
        -webkit-animation-name: bubble;
        -webkit-animation-duration: .4s;
        -webkit-animation-timing-function: steps(18, end), ease;
        -webkit-animation-delay: 3s;
        -webkit-animation-iteration-count: 1, 1;
        -webkit-animation-direction: normal, normal;
        -webkit-animation-fill-mode: forwards;

*/
}

</style>


<% content_for :body_class do %> class="error404" <% end %>


<!-- This file lives in public/404.html -->
<div class="crackBox">
        <a class="cowButton" href="">
        	<h1 id="bubble"></h1>
        </a>
</div>

<div class="daisies">
    <h3>404 error</h3>
    <h2>Twoopsie Daisies!</h2>
    <p>Looks like you've landed on a page that no longer exists</p>
    <p>Go back to the <a href="/">home page</a> and try again.</p>
</div>  


