<!DOCTYPE html>
<html>
<head>
  <title>The page you were looking for doesn't exist (404)</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <style type="text/css">
    html{ direction:rtl;}
        body { background-color: #eee; color: #000;  font-family: arial, sans-serif; }
    div.dialog {
      width: 600px;
      padding: 20px;
            background: #fff url(/images/404.gif) 20px 60px no-repeat;
      margin: 4em auto 0 auto;
      border: 1px solid #ddd;
            border-bottom:3px solid #ddd;
            border-radius:4px;
            min-height:200px;
    }
    h1, h2 {  line-height: 1.5em; margin:0; padding:0; }
        h1{ font-size:30px; color:#C00; }
        h2{ font-size:24px; color:#000; }
        a{ color:#4083a9; text-decoration:none;}
        a:hover{ color: #069;}
  </style>
</head>

<body>
  <!-- This file lives in public/404.html -->
  <div class="dialog">
    <h1>معذرة  .. الصفحة التى تبحث عنها غير موجودة!</h1>
    <h2>اذهب الي <a href="#">الصفحة الرئيسية </a></h2>
  </div>
</body>
</html>
