<% content_for :body_class do %> class="error404" <% end %>

<!-- This file lives in public/404.html -->
<div class="daisies">
  <h3>Página inexistente</h3>
  <h2>Nadie ha borrado nada de acá!</h2>
  <p>Podés volver al <a href="/">inicio</a> y tratar de nuevo</p>
</div>  


