<% content_for :head do %>
	<%= stylesheet_link_tag "broken" %>
<% end %>

<% content_for :body_class do %> class="error404" <% end %>

<!-- This file lives in public/404.html -->
<div class="crackBox">
        <a class="cowButton" href="/">
        	<h1 id="bubble" class="twoopsAlternateLogo textReplace">Politwoops</h1>
        </a>
</div>

<div class="daisies">
    <h3>404 error</h3>
    <h2>Twoopsie Daisies!</h2>
    <p>Looks like you've landed on a page that no longer exists</p>
    <p>Go back to the <a href="/">home page</a> and try again.</p>
</div>
