<h3>Add a Party</h3>

<form id="admin-politician" action="/admin/parties/save" method="POST">
<ul>
<li>
    Party name: <input type="text" name="name" />
</li>
<li>
    Party display name: <input type="text" name="display_name" />
</li>
<li><button type="submit" value="Save">Save</button></li>
</ul>

</form>
