@media (max-width: 1884px) {
  .main.container-fluid {
    padding-bottom: 200px;
  }
}

@media (min-width: 1885px) {
  .main.container-fluid {
    padding-bottom: 250px;
  }
}

@media (max-width: 767px) {
  .menu{
    .navbar-form {
      text-align: right;

      .form-group {
        float: right;
        .form-control {
          display: inline-block;
          width: auto;
        }
      }
    }
  }
}

@media (max-width: 990px) {
  .footer {
    text-align: center;

    .center {
      margin: 25px 0;
    }
  }
}
