// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#politwoops-app a, #politwoops-app a:hover {
	color: #237EB5;
}

#content .disabled {
	background-color:transparent !important;
	color: black !important;
	text-decoration:none;
}

#content h1 {
	font-family: "Sentinel A", "Sentinel B", Georgia, serif;
  font-size: 2.2em;
	font-weight: bold;
}

#content h1.app-name {
	font-size: 3.5em;
  margin: 40px 0 0 0;
  text-align: center;
}

#content h2.app-dek {
	font-family: "Sentinel A", "Sentinel B", Georgia, serif;
  font-weight: 500;
  font-style: normal;
  font-size: 2em;
  text-align: center;
  margin: 0px 0px 25px 0;
}

#content h3 {
	font-family: "Sentinel A", "Sentinel B", Georgia, serif;
	font-style: normal;
	font-size: 2.0em;
	font-weight: bold;
	padding: 20px 0 10px 0;
}

#content h4 {
	padding: 35px 0 10px 0;
}

p.byline {
	margin: 0 0 30px 0;
	font-family: 'Sentinel A', 'Sentinel B', Georgia, serif;
	font-size: 15px;
}

#content .guff {
  font-size: 1.3em;
  line-height: 1.4em;
}

#content .position_ies{
	padding-top: 40px;
}

#content .position_ie_links{
	padding-top: 20px;
}

#header h4 {
	font-family: "Sentinel A", "Sentinel B", Georgia, serif;
	font-weight: normal;
}

#content h4 {
	font-family: "Sentinel A", "Sentinel B", Georgia, serif;
	font-weight: bold;
	font-size: 18px;
}

#content ul.skeds {
	li{
		font-family: "Sentinel A", "Sentinel B", Georgia, serif;
		font-weight: bold;
		font-size: 16px;
		list-style-type: circle;
	}
}

#content .top_committees{
	width: 100%;
  text-align: left;
  margin: 0 auto;
  border: 0px solid white;;
	ul{
		li{
			font-family: "Sentinel A", "Sentinel B", Georgia, serif;
			font-size: 150%;
		}
	}
}

#map_container{
	position: relative;
	display: block;
  margin-left: auto;
  margin-right: auto;
}

.my-legend {
	padding-bottom: 40px;
}

.my-legend .legend-title {
    text-align: left;
    margin-bottom: 8px;
    font-weight: bold;
    font-size: 90%;
    }
  .my-legend .legend-scale ul {
    margin: 0;
    padding: 0;
    float: left;
    list-style: none;
    }
  .my-legend .legend-scale ul li {
    display: block;
    float: left;
    width: 20px;
    margin-bottom: 6px;
    text-align: center;
    font-size: 80%;
    list-style: none;
    }
  .my-legend ul.legend-labels li span {
    display: block;
    float: left;
    height: 15px;
    width: 20px;
    }
/* your colors */
.fillkey_0 { background-color: #e5f5e0; }
.fillkey_1 { background-color: #c7e9c0; }
.fillkey_2 { background-color: #a1d99b; }
.fillkey_3 { background-color: #74c476; }
.fillkey_4 { background-color: #41ab5d; }
.fillkey_5 { background-color: #238b45; }
.fillkey_6 { background-color: #006d2c; }
.fillkey_7 { background-color: #00441b; }

#content .committee-info{
  width: 100%;
  text-align: center;
  margin: 0 auto;
	margin-top: 20px;
	margin-bottom: -20px;
  border: 0px solid white;;
  .totals{
    font-family: 'Atlas Grotesk Web', 'Helvetica Neue', Arial, sans-serif;;
    height: 100px;
    margin: 0 14px;
    display: inline-block;
    text-align: center;
    border: 0px solid white;
    vertical-align: top;
    width: 25%;
    .stats{
      font-size: 300%;
			font-family: "Sentinel A", "Sentinel B", Georgia, serif;
			font-weight: bold;
      span{
        font-size: 50%;
      }
    }
    .sub{
      padding: 5px 0;
      width: 65%;
      margin: 0 auto;
      padding: 0.3em 1em;
    }
		.dates{
			font-family: "Sentinel A", "Sentinel B", Georgia, serif;
			font-size: 250%;
      padding: 5px 0;
      width: 65%;
      margin: 0 auto;
      padding: 0.3em 1em;
    }
  }
}

#content .crumbs {
  padding: 10px 0 10px;
  font-weight: 400;
  font-size: 11px;
  font-family: 'Atlas Grotesk Web', Helvetica, sans-serif;
  display: inline-block;
}

#content .crumbs > div {
  float: left;
  display: inline-block;
  margin-right: 2px;
}

#content .crumbs > div a {
  display: inline-block;
}

.badge-icon {
  font-family: 'Atlas Grotesk Web', Helvetica, sans-serif;
  padding: 1px 5px;
  text-transform: uppercase;
  color: #fff;
  border-radius: 4px;
  margin: 0px 5px 5px 0px !important;
  background-color: #444;
  font-size: 11px;
  letter-spacing: .03em;
  height: 100%;
  display: inline-block;
  line-height: 1.4em;
  background-color:#444;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
    -webkit-transition: all 0.10s ease-in-out;
  -moz-transition: all 0.10s ease-in-out;
  -o-transition: all 0.10s ease-in-out;
}

.badge-icon:hover {
  -webkit-box-shadow: 0px 0px 4px rgba(0,0,0,.2);
-moz-box-shadow: 0px 0px 4px rgba(0,0,0,.2);
box-shadow: 0px 0px 4px rgba(0,0,0,.2);
opacity: 1
}

.b-leadership {
  background-color: rgb(255,128,0);
  color: #fff;
  opacity: 1;
}

.b-super-pac {
  background-color: rgb(50,205,50);
  color: #fff;
  opacity: 1;
}

.b-candidate {
  background-color: rgb(192,192,192);
  color: #fff;
  opacity: 1;
}

.b-late {
  background-color: #fca605;
  color: #fff;
  opacity: 1;
}

.b-early {
  background-color: rgb(50,205,50);
  color: #fff;
  opacity: 1;
}

.b-on-time {
  background-color: #74afd6;
  color: #fff;
  opacity: 1;
}

.b-does-not-file-regular-reports {
  background-color: #c4baba;
  color: #fff;
  opacity: 1;
}

.btn-input {
	float: left;
	background: #963030;
	padding: 9px 12px 8px 12px;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	max-height: 39px;
	margin: 0px;
	// height: 40px;

	img { width: 20px; }

}

@media screen and (max-width: 935px) {
	#content .committee-info{
	    .totals{
				width: auto;
			  text-align: center;
	    }
	  }
}

@media screen and (max-width: 480px) {
  #politwoops-app{
    .content{
      h1{ font-size: 2.5em; }
    }
  }
  #content .committee-info{
		margin-top: 20px;
    .totals{
			width: 100%;
		  text-align: center;
    }
  }
}

/* tweets */

.tweet { border-bottom: 1px solid #e2e0de; padding-bottom: 23px; margin-bottom: 23px;}

.tweetTitle { font-weight: bold; font-size: 128%; margin-bottom: 5px;}
h4.tweetTitle{
	font-family: "helvetica neue", helvetica, arial, sans-serif;
}
.tweetTitle a:link, .tweetTitle a:active, .tweetTitle a:visited { text-decoration: none; color: #068797;}
.tweetTitle a:hover { color: #063E5C; text-decoration: underline;}
.tweetTitle span{
	font-size: 72%;
	font-color: #8D8883;
}
.tweet img {height: 73px; margin: 0 20px 0 0; width: 73px; border: 1px solid #bfc8c0; padding: 4px;}
.contentLeft{
	float: left;
}
.policount{
	width: 83px;
	font-size: 71.4%;
	color: #8a8079;
	line-height: 1.3em;
	text-align: center;
}
.policount em{
	font-weight: bold;
	font-style: normal;
}
.policount .number{
	font-size: 210%;
	color: #e7d26e;
	line-height: 1.2em;
	font-weight: 500;
}

.tweetTitle a.linkUnderline:link, .tweetTitle a.linkUnderline:visited, a.linkUnderline:link, a.linkUnderline:visited  {
	border-bottom: 1px dotted #5ca8b1;
	font-weight: normal;
	color: #8D8883;
}
.tweetTitle a.linkUnderline:active, a.linkUnderline:active, .tweetTitle a.linkUnderline:hover, a.linkUnderline:hover{
	text-decoration: none;
	color: #063E5C;
}



/** For Ali: CSS I added to deal with screenshots of links */
.tweet .images h3 {margin-top: 30px; font-size: 120%;}
.tweet .images img.screenshot {
  float: left; max-width: 160px; max-height: 120px; width: auto; height: auto;
  margin: 20px 0; margin-right: 20px; border: 1px solid #336699; padding: 3px;

}






/** End of section */

.tweet .content { float: left; width: 480px; }
.tweet-content { margin-bottom: 8px;}
.tweet .inactiveMess{
	margin-bottom: 8px;
	color: #8D8883;
	font-size: 90%;
	font-style: italic;
	margin-top: -3px;
	background: #FDFCEE;
	border-top: 1px dotted #E7D26E;
	border-bottom: 1px dotted #E7D26E;
	padding: 0 4px;
}

.tweet-content a {
  display: inline-block;
}


.tweet .byline, .tweet .byline { color: #8d8883;}
.tweet .byline {font-size: 90%;}

.tweet .byline a.twitter {
	display: block;
	float: left;
	width: 16px;
  height: 16px;
  margin: 4px 8px 0 0;
  text-indent: -999999em;
  background: url(/images/bird_16_gray.png);
}

.tweet .actions { float: right; }
.reply, .retweet { height: 47px; width: 59px;}
.reply { background: url(/images/btn_reply.png) center top no-repeat ; border-bottom: 1px dashed #DEC758;}
.reply:hover { background: url(/images/btn_reply.png) center bottom no-repeat ; }
.retweet { background: url(/images/btn_retweet.png) center top no-repeat;}
.retweet:hover { background: url(/images/btn_retweet.png) center bottom no-repeat; }

.titleParty { text-transform: uppercase;}
