.search-box {
	width: 100%;
  padding: 10px 20px;
  background: #e9f0f8;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  margin-bottom: 10px;
//  border-top: 2px solid #CCC;

  h3 {
	  font-family: "Sentinel A", "Sentinel B", Georgia, serif;
	  line-height: 1.4em;
	  font-size: 1.5em;
	  padding: 0 0 8px;
  }

  .examples {
		font-family: 'Atlas Grotesk Web', Helvetica, sans-serif;
	  margin: 10px 0 0;
    font-size: 11px;
  }
}

.home-search .search-box {
	border-top: 2px solid #ddd;
  margin-top: 20px;
}

.form-inline li {
	display: block;
	float: left;
	width: 220px;
	margin-right: 20px;
}

form#filter{
	margin-bottom: 26px;
}
