.search-box {
	width: 100%;
  padding: 15px 20px;
  background: #e9f0f8;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  margin-bottom: 0px;
  border-top: 2px solid #CCC;

  h3 {
	  font-family: "Sentinel A", "Sentinel B", Georgia, serif;
	  line-height: 1.4em;
	  font-size: 1.5em;
	  padding: 0 0 8px;
  }

  .examples {
		font-family: 'Atlas Grotesk Web', Helvetica, sans-serif;
	  margin: 10px 0 0;
    font-size: 11px;
  }

  input[type="text"] {
	  width: 48%;
	  border-radius: 4px;
	  -webkit-box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.3);
	  -moz-box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.3);
	  box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.3);
	  border: 1px solid #dedede;
	  padding: 0 10px 0 30px;
	  background: url("//propublica.s3.amazonaws.com/images/mag_glass.png") no-repeat top left #fff;
	  background-size: 28px;
	  font-weight: 500;
	  font-family: 'Atlas Grotesk Web', Helvetica, sans-serif;
	  font-size: inherit;
	  float: left;
	  margin: 0px;
	  height: 30px;
	  -moz-box-sizing: border-box;
	  -webkit-box-sizing: border-box;
	  box-sizing: border-box;
	}

	.fancy-btn {
	  padding: 0px 10px;
	  -webkit-border-radius: 04px;
	  -moz-border-radius: 04px;
	  border-radius: 04px;
	  font-weight: bold;
	  border: 1px solid #dedede;
	  -moz-user-select: none;
	  -khtml-user-select: none;
	  -webkit-box-shadow: #cecece 0 0 0px!important;
	  -moz-box-shadow: #cecece 0 0 0px!important;
	  -webkit-user-select: none;
	  text-shadow: 1px 1px 0 white;
	  background: -webkit-gradient(linear,left top,left bottom,from(#fff),to(#f0f0f0));
	  background: -moz-linear-gradient(top,#fff,#f0f0f0);
	  font-size: 13px;
	  color: #444 !important;
	  text-transform: none;
	  height: 30px;
	  line-height: inherit;
	  margin: 0px;
	  font-weight: normal;
	  -webkit-box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.3);
	  -moz-box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.3);
	  box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.3);
	  transition: all 0.10s ease-in-out;
	  -webkit-transition: all 0.10s ease-in-out;
	  -moz-transition: all 0.10s ease-in-out;
	  -o-transition: all 0.10s ease-in-out;
	  line-height: 1em;
	  background: -ms-linear-gradient(top,#fff,#f0f0f0);
	  background-color: #f0f0f0;
	  cursor: pointer;
	  -moz-box-sizing: border-box;
	  -webkit-box-sizing: border-box;
	  box-sizing: border-box;
    width: 18%;
	  margin-left: 1%;
	}
}

.home-search .search-box {
	border-top: 2px solid #ddd;
  margin-top: 20px;
}

.state-guff {
	font-family: "Sentinel A", "Sentinel B", Georgia, serif;
	margin-right: 5px;
	font-size: 15px;
}

.states {
	padding: 0 0px 0 30px;
	font-weight: 500;
	font-family: "Sentinel A", "Sentinel B", Georgia, serif;
	font-size: inherit;
	float: right;
	margin-top: -25px;
	height: 30px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.state-select {
	background: transparent;
	border-radius: 0px;
	font-family: "Helvetica Neue", Helvetica, sans-serif;
	box-sizing: border-box;
	background: #FFF;
	height: 25px;
	border: none;
}

.state-drop {
	overflow: hidden;
	background-color: white;
	border-left: 3px solid white;
	display: inline-block;
	position: relative;
}

.badge-icon-search {
	font-family: 'Atlas Grotesk Web', Helvetica, sans-serif;
  padding: 1px 5px;
  text-transform: uppercase;
  color: #fff;
  border-radius: 4px;
  margin: 0px 5px 0px 0px !important;
  background-color: #444;
  font-size: 11px;
  letter-spacing: .03em;
  height: 100%;
  display: inline-block;
  line-height: 1.4em;
  background-color:#444;
  position: relative;
  top: 50%;
	left: 50%;
	transform: translate(-50%, -10%);
}

.badge-icon:hover {
  -webkit-box-shadow: 0px 0px 4px rgba(0,0,0,.2);
-moz-box-shadow: 0px 0px 4px rgba(0,0,0,.2);
box-shadow: 0px 0px 4px rgba(0,0,0,.2);
opacity: 1
}

.b-leadership {
  background-color: rgb(255,128,0);
  color: #fff;
  opacity: 1;
}

.b-super-pac {
  background-color: rgb(50,205,50);
  color: #fff;
  opacity: 1;
}

.b-candidate {
  background-color: rgb(192,192,192);
  color: #fff;
  opacity: 1;
}

.pagination {
  padding-bottom: 1em;
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
  span {
    line-height: 2em;
    font-weight: bold;
    display: block;
    float: left;
  }
  .disabled {
    color: #aaaaaa;
  }
  a {
    color: black;
    text-decoration: none;
    border-top: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
    padding: 2px 12px;
    background-color: #eee;
    display: block;
    :hover, :focus {
      background: #EBEBEB;
      color: #444;
    }
  }
  .current {
    font-style: normal;
    background-color: #237EB5;
    border-top: 1px solid #237EB5;
    border-bottom: 1px solid #237EB5;
    border-right: 1px solid #237EB5;
    color: #FFF;
    padding: 2px 12px;
  }
  .gap {
    font-style: normal;
    background-color: #eee;
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
    color: black;
    padding: 2px 12px;
  }
  .first a {
    border-left: 1px solid #dddddd;
  }
  .page_info {
    color: #aaaaaa;
    padding-top: 0.8em;
  }
  .previous_page, .next_page {
    border-width: 1px;
  }
  .next_page {
    margin-left: 1em;
  }
  :after {
    clear: both;
  }
}
