<h1>Nieuwe politicus</h1>

<% form_for @politician, :url => politicians_path do |f| %>
  <%= f.error_messages %>
  <%= render :partial => "form", :object => f %>
  <%= f.submit "Voeg toe" %>
<% end %>