<h1>The typo game!</h1>
<p>In order to detect deleted tweets of politicians I need some hand-labeled data to work with. You can help me by joining me in this game. It's very simple: I show you a tweet and you tell me whether that is a typo or not. What rules are there to classify something as a typo? I'm glad you asked, here they are:</p>
<ul>
    <li>There is a simple misspelling, such as 'teh' instead of 'the'</li>
    <li>The tweet is simply too long. These can be identified by the '...' at the end of a tweet</li>
    <li>There is something wrong with a link in the tweet</li>
</ul>
<p>If you think this is a typo, then please check 'Yes', otherwise click 'No'!</p>
<h2>Deleted tweet</h2>
<%= render 'typo_game/tweet', :tweet => @tweet %>
<h2>First non-deleted tweet after deleted tweet</h2>
<% @latest_tweets.each do |latest_tweet| %>
<%= render 'typo_game/tweet', :tweet => latest_tweet %>
<% end %>
